* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  font-family: "Inter", "Lexend Deca", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(233, 47%, 7%);
  height: 100vh;
  padding: 20rem;
}

.business-info {
  display: flex;
  flex-direction: column;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px 0 0 10px;
  padding: 5.5rem 6rem;
}

h1 {
  font-size: 3.2rem;
  padding-bottom: 2.5rem;
  padding-right: 2rem;
}

h1 span {
  color: hsl(277, 64%, 61%);
}

.main-paragraph {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 1.3rem;
  padding-bottom: 5.5rem;
  padding-right: 9rem;
  line-height: 1.5;
}

.img-box {
  width: 100%;
  height: 142%;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(
      0deg,
      hsla(277, 76%, 30%, 0.5),
      hsla(277, 76%, 30%, 0.6)
    ),
    url(./images/image-header-desktop.jpg);
  background-size: cover;
}

.stat-headings {
  font-size: 2rem;
  display: flex;
  gap: 6rem;
  font-weight: 700;
}

.stats {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.stats span {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 400;
  letter-spacing: 0.1rem;
}

@media (max-width: 375px) {
  body {
    text-align: center;
  }

  .container {
    flex-direction: column-reverse;
    padding: 3rem 2rem;
  }

  .img-box {
    background: linear-gradient(
        0deg,
        hsla(277, 76%, 30%, 0.3),
        hsla(277, 76%, 30%, 0.4)
      ),
      url(./images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    -moz-filter: opacity(0.5) drop-shadow(0 0 0 rgb(126, 17, 126));
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(126, 17, 126));
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .business-info {
    padding: 3.5rem 0;
    border-radius: 0 0 10px 10px;
  }

  h1 {
    font-size: 2.8rem;
    padding: 0 3rem;
  }

  .main-paragraph {
    font-size: 1.6rem;
    padding: 2rem 3rem 5rem 3rem;
  }

  .stat-headings {
    flex-direction: column;
    gap: 3rem;
  }

  .stats {
    font-size: 2.5rem;
  }

  .stats span {
    font-size: 1.4rem;
  }
}
